#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    @media screen and (max-width: 700px) {
        margin-top: -0.5rem;
    }

    .profile {
        width: 110px;
        height: 110px;


        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 0 0 19px yellow;
        }
    }

    .profile_text {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h3 {
            color: #fff;
            font-size: 2rem;

            @media screen and (max-width: 500px) {
                font-size: 1.5rem;
            }

            span {
                color: yellow;
                letter-spacing: 1.6px;
            }
        }

        .job {
            color: #fff;
            opacity: 0.5;
            font-size: 0.85rem;
        }

        .text {
            margin-top: 2rem;
            color: #fff;
            text-align: center;
            font-size: 4.2rem;
            line-height: 1.25;

            @media screen and (max-width: 800px) {
                font-size: 3.5rem;
                margin-top: 2rem;
            }

            @media screen and(max-width: 530px) {
                font-size: 2.5rem;
            }
        }

        a {
            margin-top: 3rem;
            text-decoration: none;
            color: #000;
            font-weight: bolder;
            background: yellow;
            padding: 0.65rem 1rem;
            border-radius: 10px;
            font-size: 0.85rem;
            text-transform: capitalize;


        }

        div {
            position: absolute;
            background: rgba(255, 255, 255, 0.15);
            color: #fff;
            padding: 0.35rem 1rem;
            border-radius: 25px;
            font-size: 0.85rem;
        }

        @media screen and (max-width: 800px) {
            div {
                display: none;
            }
        }

        .web {
            right: -1rem;
            top: 3.5rem;
        }

        .ui {
            top: 2rem;
            left: 2rem;
        }

        .freelance {
            bottom: 2rem;
            left: 0;
        }
    }

}