.about_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
    margin-top: 7rem;

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        margin-top: 0rem;
    }

    .about_left {
        background: yellow;
        max-width: 350px;
        height: 350px;
        justify-self: center;
        border-radius: 5px;
        box-shadow: 0 0 17px yellow;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

    }

    .about_right {
        color: #fff;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 700px) {
            padding: 0;
            margin-top: 2rem;
        }

        p {
            font-size: 0.95rem;
            margin-bottom: 1.5rem;
            max-width: 450px;
        }

        .bio {
            display: flex;
            font-size: 0.85rem;
            max-width: 200px;
            margin-bottom: 1.4rem;

            .bioKey {
                display: flex;
                align-items: center;
                gap: 0.6rem;
                margin-right: 3rem;
            }

            .bioValue {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        a {

            text-decoration: none;
            color: #000;
            background: yellow;
            padding: 0.65rem 1rem;
            border-radius: 10px;
            font-size: 0.88rem;
            text-transform: capitalize;
            width: 175px;
            margin-left: 140px;

            @media screen and (max-width: 700px) {
                margin-left: 5.5rem;
            }
        }
    }

}